[submodule "reference-implementations/arc"]
	path = reference-implementations/arc
	url = https://github.com/code-philia/agentic-requirement-compiler.git
	branch = main
[submodule "arc-template"]
	path = arc-template
	url = https://github.com/Weiyu-Kong/arc-template.git
	branch = main
